[submodule "tests/vendor/googletest"]
	path = vendor/googletest/googletest
	url = git@github.com:google/googletest.git
[submodule "engine/vendor/spdlog/splog"]
	path = vendor/spdlog/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/vendor/glm/glm"]
	path = vendor/glm/glm
	url = https://github.com/g-truc/glm
[submodule "engine/vendor/glfw/glfw"]
	path = vendor/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule ".\\vendor\\yaml-cpp/yaml-cpp"]
	path = .\\vendor\\yaml-cpp/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
