[submodule "vendor/googletest/googletest"]
	path = vendor/googletest/googletest
	url = https://github.com/google/googletest
[submodule "vendor/spdlog/spdlog"]
	path = vendor/spdlog/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/glm/glm"]
	path = vendor/glm/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/glfw/glfw"]
	path = vendor/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/yaml-cpp/yaml-cpp"]
	path = vendor/yaml-cpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "vendor/vk-bootstrap/vk-bootstrap"]
	path = vendor/vk-bootstrap/vk-bootstrap
	url = git@github.com:charles-lunarg/vk-bootstrap.git
